.txtBlue{
    color: blue;
}

.dimensioni{
    width: 200px;
    height: 200px;
}

.bgRed{
    background-color: red;
}

.bordoRed{
    border: 5px solid red;
}

.bordoGreen{
    border: 5px solid green;
}

.coloref{
    color: violet;
}
.colorem{
    color: springgreen;
}
.colorea{
    color: purple;
}


.dimensioniDiv{
    width: 300px;
    height: 300px;
}

.spenta{
    background-color: black;
}

.accesa{
    background-color: yellow;
}

